<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 Internal Server Error</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/favicon.svg"
    />
  </head>
  <footer>
    <a href="https://github.com/MorganKryze/Emails-Signature-Generator-Website/issues" class="fixed bottom-0 left-0 m-4" >
      <img src="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/bug.svg" alt="Report a bug" />
    </a>
  </footer>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-10 rounded shadow-lg w-1/2 text-center">
      <h2 class="text-2xl font-bold mb-6 text-gray-900">500</h2>
      <p class="text-gray-700 mb-6">
        Oops! Something went wrong on our end. Maybe try again later or report
        this to the maintainers!
      </p>
      <p class="text-gray-700 mb-6">
        If you were trying to generate an email signature, please consider saving your work before trying to download or preview anything.
      </p>
      <div class="flex justify-center">
        <a
          href="{% url 'home' %}"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Return to Homepage
        </a>
      </div>
    </div>
  </body>
</html>
