<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Signature Generator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/favicon.svg"
    />
    <style>
      body {
        min-height: 100vh;
        overflow-y: auto;
      }
      .notification {
        position: fixed;
        right: 0;
        top: 0;
        background-color: #55b685;
        color: white;
        padding: 16px;
        border-radius: 2px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
      }

      .notification.active {
        transform: translateX(0);
      }
      .disabled {
        pointer-events: none;
        color: #cccccc;
        background-color: #eeeeee;
      }
      .errorlist {
        color: red;
      }
    </style>
  </head>
  <div id="notification" class="notification">
    <p>Saving...</p>
    <p>This may take few seconds.</p>
  </div>
  <body class="bg-gray-100 flex items-center justify-center">
    {% comment %} The form sheet {% endcomment %}
    <div class="bg-white p-10 rounded shadow-lg w-1/2">
      <form method="post" id="Generator">
        {% csrf_token %} {% comment %} Title {% endcomment %}
        <div class="flex justify-between items-center mb-10">
          <h1 class="text-2xl font-bold text-gray-900">Customization</h1>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex flex-row items-center justify-start"
          >
            <img
              src="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/upload.svg"
              class="h-6 w-6 mr-2"
              alt="Import icon"
            />
            Import config file
          </button>
        </div>
        {% comment %} Signature name {% endcomment %}
        <div class="mb-10">
          <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline required"
            id="{{ form.signatureName.id_for_label }}"
            placeholder="{{ form.signatureName.label }}"
            name="{{ form.signatureName.html_name }}"
            value="{{ form.signatureName.value|default:'' }}"
          />
          {{ form.signatureName.errors }}
        </div>

        {% comment %} Personal Info section {% endcomment %}
        <div class="mb-10">
          <h3 class="text-xl font-bold mb-4 text-gray-900">
            Personal Information
          </h3>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
              >Name</label
            >
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline required"
              id="{{ form.name.id_for_label }}"
              placeholder="{{ form.name.label }}"
              name="{{ form.name.html_name }}"
              value="{{ form.name.value|default:'' }}"
            />
            {{ form.name.errors }}
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="title"
              >Title</label
            >
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline required"
              id="{{ form.title.id_for_label }}"
              placeholder="{{ form.title.label }}"
              name="{{ form.title.html_name }}"
              value="{{ form.title.value|default:'' }}"
            />
            {{ form.title.errors }}
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="organizationName"
              >Organization name</label
            >
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline required"
              id="{{ form.organizationName.id_for_label }}"
              placeholder="{{ form.organizationName.label }}"
              name="{{ form.organizationName.html_name }}"
              value="{{ form.organizationName.value|default:'' }}"
            />
            {{ form.organizationName.errors }}
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="organizationURL"
              >Organization url</label
            >
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline required"
              id="{{ form.organizationURL.id_for_label }}"
              placeholder="{{ form.organizationURL.label }}"
              name="{{ form.organizationURL.html_name }}"
              value="{{ form.organizationURL.value|default:'' }}"
            />
            {{ form.organizationURL.errors }}
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="email"
              >Email</label
            >
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline required"
              id="{{ form.email.id_for_label }}"
              placeholder="{{ form.email.label }}"
              name="{{ form.email.html_name }}"
              value="{{ form.email.value|default:'' }}"
            />
            {{ form.email.errors }}
          </div>
          <div class="mb-8">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="additional"
              >Additional field</label
            >
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline required"
              id="{{ form.additional.id_for_label }}"
              placeholder="{{ form.additional.label }}"
              name="{{ form.additional.html_name }}"
              value="{{ form.additional.value|default:'' }}"
            />
            {{ form.additional.errors }}
          </div>
        </div>

        {% comment %} Image section {% endcomment %}
        <div class="mb-10">
          <h3 class="text-xl font-bold mb-4 text-gray-900">Image</h3>
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isImageSelected"
              name="{{ form.isImageSelected.html_name }}"
              {% if form.isImageSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold" for="isImageSelected"
              >Add an image</label
            >
            {{ form.isImageSelected.errors }}
          </div>
          <div class="mb-4" id="imageField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="imageLink"
              placeholder="{{ form.imageLink.label }}"
              name="{{ form.imageLink.html_name }}"
              value="{{ form.imageLink.value|default:'' }}"
            />
            {{ form.imageLink.errors }}
          </div>

          <div class="flex items-center mb-4" style="display: none">
            <input type="radio" class="form-radio h-5 w-5 text-blue-600 mr-2
            rounded-full" id="choosePhoto" name="imageType" value="photo" {% if form.imageType.value == "photo" %} checked {% endif %} />
            <label class="text-gray-700 text-sm font-bold">Photo</label>
          </div>

          <div class="flex items-center mb-4" style="display: none">
            <input type="radio" class="form-radio h-5 w-5 text-blue-600 mr-2
            rounded-full" name="imageType" value="logo" id="chooseLogo" 
            {% if form.imageType.value == "logo" %} checked {% endif %} />
            <label class="text-gray-700 text-sm font-bold">Logo</label>
          </div>
        </div>

        {% comment %} Socials section {% endcomment %}
        <div class="mb-10">
          <h3 class="text-xl font-bold mb-4 text-gray-900">Socials</h3>
          <!-- Website Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isWebSelected"
              name="{{ form.isWebSelected.html_name }}"
              {% if form.isWebSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">Website</label>
          </div>
          <div class="mb-4" id="WebField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="webLink"
              placeholder="{{ form.webLink.label }}"
              name="{{ form.webLink.html_name }}"
              value="{{ form.webLink.value|default:'' }}"
            />
            {{ form.webLink.errors }}
          </div>

          <!-- GitHub Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isGithubSelected"
              name="{{ form.isGithubSelected.html_name }}"
              {% if form.isGithubSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">GitHub</label>
          </div>
          <div class="mb-4" id="GithubField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="githubLink"
              placeholder="{{ form.githubLink.label }}"
              name="{{ form.githubLink.html_name }}"
              value="{{ form.githubLink.value|default:'' }}"
            />
            {{ form.githubLink.errors }}
          </div>

          <!-- Instagram Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isInstagramSelected"
              name="{{ form.isInstagramSelected.html_name }}"
              {% if form.isInstagramSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">Instagram</label>
          </div>

          <div class="mb-4" id="InstagramField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="instagramLink"
              placeholder="{{ form.instagramLink.label }}"
              name="{{ form.instagramLink.html_name }}"
              value="{{ form.instagramLink.value|default:'' }}"
            />
            {{ form.instagramLink.errors }}
          </div>

          <!-- LinkedIn Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isLinkedinSelected"
              name="{{ form.isLinkedinSelected.html_name }}"
              {% if form.isLinkedinSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">LinkedIn</label>
          </div>
          <div class="mb-4" id="LinkedinField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="linkedinLink"
              placeholder="{{ form.linkedinLink.label }}"
              name="{{ form.linkedinLink.html_name }}"
              value="{{ form.linkedinLink.value|default:'' }}"
            />
            {{ form.linkedinLink.errors }}
          </div>

          <!-- Slack Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isSlackSelected"
              name="{{ form.isSlackSelected.html_name }}"
              {% if form.isSlackSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">Slack</label>
          </div>
          <div class="mb-4" id="SlackField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="slackLink"
              placeholder="{{ form.slackLink.label }}"
              name="{{ form.slackLink.html_name }}"
              value="{{ form.slackLink.value|default:'' }}"
            />
            {{ form.slackLink.errors }}
          </div>

          <!-- YouTube Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isYoutubeSelected"
              name="{{ form.isYoutubeSelected.html_name }}"
              {% if form.isYoutubeSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">YouTube</label>
          </div>
          <div class="mb-4" id="YoutubeField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="youtubeLink"
              placeholder="{{ form.youtubeLink.label }}"
              name="{{ form.youtubeLink.html_name }}"
              value="{{ form.youtubeLink.value|default:'' }}"
            />
            {{ form.youtubeLink.errors }}
          </div>

          <!-- Twitter Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isTwitterSelected"
              name="{{ form.isTwitterSelected.html_name }}"
              {% if form.isTwitterSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">Twitter</label>
          </div>
          <div class="mb-4" id="TwitterField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="twitterLink"
              placeholder="{{ form.twitterLink.label }}"
              name="{{ form.twitterLink.html_name }}"
              value="{{ form.twitterLink.value|default:'' }}"
            />
            {{ form.twitterLink.errors }}
          </div>

          <!-- Facebook Option -->
          <div class="flex items-center mb-4">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-blue-600 mr-2"
              id="isFacebookSelected"
              name="{{ form.isFacebookSelected.html_name }}"
              {% if form.isFacebookSelected.value %} checked {% endif %}
            />
            <label class="text-gray-700 text-sm font-bold">Facebook</label>
          </div>
          <div class="mb-4" id="FacebookField" style="display: none">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="facebookLink"
              placeholder="{{ form.facebookLink.label }}"
              name="{{ form.facebookLink.html_name }}"
              value="{{ form.facebookLink.value|default:'' }}"
            />
            {{ form.facebookLink.errors }}
          </div>
        </div>

        <hr style="border-top: 1px solid #ccc" />

        {% comment %} Submit buttons {% endcomment %}
        <div class="flex justify-center">
          <button
            type="submit"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded flex flex-row items-center justify-start mt-8"
            id="submitBtn"
          >
            <img
              src="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/save.svg"
              class="h-6 w-6 mr-2"
              alt="Save current config"
            />
            Save Current Config
          </button>
        </div>
      </form>
      <div class="flex justify-center items-center space-x-2 mt-6">
        <a href="{% url 'preview' %}" target="_blank" id="previewLink">
        <button
          id="previewBtn"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex flex-row items-center justify-start"
        >
          <img
            src="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/external-link.svg"
            class="h-6 w-6 mr-2"
            alt="External link"
          />
          See Preview
        </button>
        </a>

        <a href="{% url 'download-signature' %}" target="_blank" id="downloadSignatureLink">
        <button
          id="downloadSignatureBtn"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex flex-row items-center justify-start"
        >
          <img
            src="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/download.svg"
            class="h-6 w-6 mr-2"
            alt="Download signature"
          />
          Download Signature
        </button>
        </a>
        <a href="{% url 'download-config' %}" target="_blank" id="downloadConfigLink">
          <button
            id="downloadConfigBtn"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex flex-row items-center justify-start"
          >
            <img
              src="https://raw.githubusercontent.com/MorganKryze/Emails-Signature-Generator-Website/main/assets/img/download.svg"
              class="h-6 w-6 mr-2"
              alt="Download config file"
            />
            Download Config
          </button>
        </a>
      </div>
    </div>
  </body>
  <script>
    function toggleDisplay() {
      var isChecked = document.getElementById('isImageSelected').checked;

      var imageField = document.getElementById('imageField');
      imageField.style.display = isChecked ? 'block' : 'none';

      var photoOption = document.getElementById('choosePhoto').parentElement;
      var logoOption = document.getElementById('chooseLogo').parentElement;

      if (isChecked) {
        photoOption.style.display = 'flex';
        logoOption.style.display = 'flex';
      } else {
        photoOption.style.display = 'none';
        logoOption.style.display = 'none';
      }
    }

    document
      .getElementById('isImageSelected')
      .addEventListener('change', toggleDisplay);

    // Call the function when the page loads
    toggleDisplay();


    function toggleFieldDisplay(platform) {
      var checkbox = document.getElementById(`is${platform}Selected`);
      var field = document.getElementById(`${platform}Field`);
      field.style.display = checkbox.checked ? 'block' : 'none';
    }

    function addEventListenersToSocials() {
      [
        'Web',
        'Github',
        'Instagram',
        'Linkedin',
        'Slack',
        'Youtube',
        'Twitter',
        'Facebook'
      ].forEach(platform => {
        var checkbox = document.getElementById(`is${platform}Selected`);
        checkbox.addEventListener('change', function () {
          toggleFieldDisplay(platform);
        });

        // Call the function to set the initial display of the field
        toggleFieldDisplay(platform);
      });
    }

    // Call the function to add event listeners
    addEventListenersToSocials();

    var previewBtn = document.getElementById('previewBtn');
    var downloadSignatureBtn = document.getElementById('downloadSignatureBtn');
    var downloadConfigBtn = document.getElementById('downloadConfigBtn'); 
    var previewLink = document.getElementById('previewLink');
    var downloadSignatureLink = document.getElementById('downloadSignatureLink');
    var downloadConfigLink = document.getElementById('downloadConfigLink');

    previewBtn.disabled = true;
    downloadSignatureBtn.disabled = true;
    downloadConfigBtn.disabled = true;
    previewBtn.classList.add('disabled');
    downloadSignatureBtn.classList.add('disabled');
    downloadConfigBtn.classList.add('disabled');

    document.getElementById('Generator').addEventListener('submit', function(event) {
      // Check if all required fields are filled
      var requiredFields = document.querySelectorAll('.required');
      var allFieldsFilled = true;

      requiredFields.forEach(function(field) {
        if (field.value === '') {
          allFieldsFilled = false;
        }
      });

      if (allFieldsFilled) {
        // If all required fields are filled, enable the buttons and remove the disabled class
        previewBtn.disabled = false;
        downloadSignatureBtn.disabled = false;
        downloadConfigBtn.disabled = false;
        previewBtn.classList.remove('disabled');
        downloadSignatureBtn.classList.remove('disabled');
        downloadConfigBtn.classList.remove('disabled');

        // Store the state of the buttons in a cookie
        document.cookie = "buttonsEnabled=true; path=/";
      }
      else {
        // If not all required fields are filled, disable the buttons and add the disabled class
        previewBtn.disabled = true;
        downloadSignatureBtn.disabled = true;
        downloadConfigBtn.disabled = true;
        previewBtn.classList.add('disabled');
        downloadSignatureBtn.classList.add('disabled');
        downloadConfigBtn.classList.add('disabled');

        // Store the state of the buttons in a cookie
        document.cookie = "buttonsEnabled=false; path=/";
      }
    });

    // When the page is loaded, check the state of the buttons in the cookie
    window.onload = function() {
      if (document.cookie.replace(/(?:(?:^|.*;\s*)buttonsEnabled\s*\=\s*([^;]*).*$)|^.*$/, "$1") === "true") {
        previewBtn.disabled = false;
        downloadSignatureBtn.disabled = false;
        downloadConfigBtn.disabled = false;
        previewBtn.classList.remove('disabled');
        downloadSignatureBtn.classList.remove('disabled');
        downloadConfigBtn.classList.remove('disabled');
      }
      else {
        previewBtn.disabled = true;
        downloadSignatureBtn.disabled = true;
        downloadConfigBtn.disabled = true;
        previewBtn.classList.add('disabled');
        downloadSignatureBtn.classList.add('disabled');
        downloadConfigBtn.classList.add('disabled');
      }
    };

    previewLink.addEventListener('click', function(event) {
      if (previewBtn.disabled) {
        event.preventDefault();
      }
    });

    downloadSignatureLink.addEventListener('click', function(event) {
      if (downloadSignatureBtn.disabled) {
        event.preventDefault();
      }
    });

    downloadConfigLink.addEventListener('click', function(event) {
      if (downloadConfigBtn.disabled) {
        event.preventDefault();
      }
    });


    {% comment %} document
      .querySelector('button[type="submit"]')
      .addEventListener('click', function (event) {
        event.preventDefault();

        var notification = document.getElementById('notification');
        notification.classList.remove('hidden');
        notification.classList.add('active');

        setTimeout(function () {
          notification.classList.remove('active');
          notification.classList.add('hidden');
        }, 2000);

        setTimeout(function () {
          document.querySelector('form').submit();
        }, 3000); 
      }); 
      // notification not working temporary removed
      {% endcomment %}
  </script>
</html>
