{% extends "base.html" %} {% block header_content %} {% load i18n %}
<body class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="fixed top-0 left-0 m-4">
    <a href="{% url 'home' %}">
      <button
        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
      >
        {% trans "return-to-homepage" %}
      </button>
    </a>
  </div>
  {% endblock %}{% block body_content %} {% load i18n %}
  <div class="bg-white p-10 rounded shadow-lg w-1/2">
    <h2 class="text-2xl font-bold mb-6 text-gray-900">
      {% trans "guidelines-title" %}
    </h2>
    <div class="bg-green-100 p-4 rounded mb-6">
      <h3 class="text-xl font-bold mb-4 text-gray-900">
        {% trans "guidelines-title-do" %}
      </h3>
      <ul class="list-disc list-inside text-gray-700">
        <li>{% trans "guidelines-do-l-1" %}</li>
        <li>{% trans "guidelines-do-l-2" %}</li>
        <li>{% trans "guidelines-do-l-3" %}</li>
      </ul>
    </div>
    <div class="bg-red-100 p-4 rounded mb-6">
      <h3 class="text-xl font-bold mb-4 text-gray-900">
        {% trans "guidelines-title-do-not" %}
      </h3>
      <ul class="list-disc list-inside text-gray-700">
        <li>{% trans "guidelines-do-not-l-1" %}</li>
        <li>{% trans "guidelines-do-not-l-2" %}</li>
        <li>{% trans "guidelines-do-not-l-3" %}</li>
      </ul>
    </div>
  </div>
</body>
{% endblock %}
