{% extends "base.html" %} {% block body_content %}{% load i18n %}
<body class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="bg-white p-10 rounded shadow-lg w-2/3">
    <h2 class="text-2xl font-bold mb-6 text-gray-900">
      {% trans "website-title" %}
    </h2>
    <p class="text-gray-700 mb-6">{% trans "index-paragraph-1" %}</p>
    <p class="text-gray-700 mb-6">{% trans "index-paragraph-2" %}</p>
    <div class="flex justify-center">
      <a
        href="{% url 'custom' %}"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-white"
        >{% trans "index-get-started" %}</a
      >
    </div>
    <div class="container mx-auto text-center mt-6 text-gray-500 text-shadow">
      <a href="{% url 'guidelines' %}">{% trans "index-guidelines" %}</a>
      &bull;
      <a href="{% url 'terms' %}">{% trans "index-terms" %}</a>
      &bull;
      <a href="{% url 'clients' %}">{% trans "index-clients"%}</a>
      &bull;
      <a
        href="https://github.com/MorganKryze/Emails-Signature-Generator-Website"
        >{% trans "index-source-code" %}</a
      >
      &bull;
      <a href="https://github.com/MorganKryze">&copy; MorganKryze</a>
    </div>
  </div>
</body>
{% endblock %}
