<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ signature_name }}</title>
  </head>
  <body>
    <br>
    <hr style="border-top: 2px solid #000; margin-top: 0;"/>
    <table style="width: 100%">
      <tr>
        {% if image.is_image_selected and image.image_link != "None" %}
        <td style="width: 180px">
          <a href="{{ personal_information.organization_url }}">
            {% if image.image_type == 'photo' or image.image_type == 'Photo' %}
            <img
              src="{{ image.image_link }}"
              style="
                border-radius: 50%;
                width: 150px;
                height: 150px;
                object-fit: cover;
                border: 2px solid #444;
              "
              alt="Photo"
            />
            {% elif image.image_type == 'logo' or image.image_type == 'Logo' %}
            <img
              src="{{ image.image_link }}"
              style="width: 150px; height: auto; object-fit: contain"
              alt="Logo"
            />
            {% endif %}
          </a>
        </td>
        {% endif %}
        <td style="border-left: 1px solid #444; height: 100px; overflow: auto">
          <div
            style="font-family: Arial, sans-serif; color: #444; padding: 20px"
          >
            <div style="font-size: 18px; font-weight: bold">
              {{ personal_information.name|escape }}
            </div>
            <div style="font-size: 14px; color: #999">
              {{ personal_information.title|escape }} | {{
              personal_information.organization_name|escape }}
            </div>
            <div style="font-size: 14px; color: #666">
              {% if personal_information.additional != 'None' %}
              <p>{{ personal_information.additional|escape }}</p>
              {% endif %}
              <p>
                <a href="mailto:{{ personal_information.email|escape }}"
                  >{{ personal_information.email|escape }}</a
                >
              </p>
            </div>
            <div>{{ social_media_html|safe }}
              
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
